.headerStack {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

.msAuto {
  margin-left: auto !important;
  display: flex;
  align-items: center;
}

.homeImg:hover,
.profileImg:hover {
  cursor: pointer;
}

.headerDropdown{
  margin-right: 0.5vw;
}