.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imageContainer signIn";
  min-width: 100vw !important;
  min-height: 100vh;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  align-items: center;
  grid-area: imageContainer;
  background-color: rgb(47, 75, 88);
}

.signIn {
  display: flex;
  grid-area: signIn; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}
.gastButton {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

/* von ChatGPT generiert */
@media screen and (max-width: 900px) {
  /* Anpassung für kleine Bildschirme */
  .container {
    grid-template-columns: 1fr; /* Eine Spalte für kleine Bildschirme */
    grid-template-rows: auto; /* Automatische Anordnung der Reihen */
    grid-template-areas:
      "imageContainer"
      "signIn";
  }

  .imageContainer {
    justify-self: center;
    align-self: center;
  }
  .signIn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    min-width: 100%;
    min-height: 100vh;
    margin-top: 15%;
  }
}
